@import "~bootstrap/scss/bootstrap";
body {
    background-color: wheat;
}
.flashing {
    width: 100%;
    height: 100px;
    background-color:purple;
    animation: flash 3s ease-in-out .5s infinite forwards;
}
@keyframes flash {
    from {background-color: #fff;}
    to {background-color: purple;}
}
#weather {
    height: 100vh;
    width: 100%;
}
.line {
    border: 2px solid black;
    width: 70%;
    box-shadow: 2px -3px gray;
    border-radius: 10px;
}
.card {
    height: 400px;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
}
.clear{
    clear: both;
}
img {
    width: 64px;
    margin: auto;
}
.simpleweather > p {
    width: 76% !important;
}